@import url(http://fonts.googleapis.com/css?family=Francois+One);

.hero  {
  height: 400px;
  background: no-repeat fixed left -300px;
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-family: 'Francois One', sans-serif;
  text-shadow: 0 0 10px black;
  color: white;
  font-size: 10em;
}

.article {
  max-width: 650px;
  margin: 0 auto;
}


.homepage {
  background-color: rgba(0,0,0,.7);
  padding: 20px;
  font-size: 1.5em;
  color: white;
  border-radius: 10px;
}

.homepage h1 {
  font-size: 4.5rem;
}


header.main {
  margin-top: 50px;
}

.content-wrap {
  padding: 20px;
  background-color: rgba(0,0,0,.5)
}
